In [20]:
import numpy as np
import pymysql
import pandas as pd
import seaborn as sns

from tqdm import tqdm

import time
import datetime

In [21]:
# 시각화 모듈 임포트
import matplotlib.pyplot as plt
import seaborn as sns

# jupyter notebook 내 그래프를 바로 그리기 위한 설정
%matplotlib inline

# unicode minus를 사용하지 않기 위한 설정 (minus 깨짐현상 방지)
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'

In [22]:
# 2단계 : connect(mysql 접속)
host_url = 'rowan-test-db.c2rbzfa0saqk.ap-northeast-2.rds.amazonaws.com'
db = pymysql.connect(host=host_url, port=4406, user='root', passwd='rowan08101!', db='sb_db', charset='utf8')
# 3단계 : cusor : 커서 생성
cursor = db.cursor()

In [23]:
# 4단계 : sql문 작성(데이터 read)
query = "SELECT gl.*, ur.*, mauu.unit, bu.create_time, unit.unit_title \
        FROM sb_db.brain_game_log gl \
        LEFT JOIN sb_db.map_assignment_unit_user mauu ON gl.assignment_unit_user = mauu.assignment_unit_user_idx \
        JOIN sb_db.user_real ur ON mauu.user = ur.idx \
        JOIN sb_db.brain_user bu ON mauu.user = bu.user_idx \
        JOIN sb_db.brain_unit unit ON mauu.unit = unit.unit_idx"
# 5단계 : pd로 sql문 실행
game_log = pd.read_sql(query, db)

In [24]:
cursor.close()
db.close()

In [25]:
game_log.set_index('game_log_idx', inplace=True)

In [26]:
game_log['user_idx'] = game_log['idx']
del game_log['idx']
del game_log['job']

In [27]:
column_names = game_log.columns.values
column_names[0] = 'log_create_time'
column_names[16] = 'id_create_time'
# game_log.columns = column_names
# del game_log['Changed']

In [36]:
game_log

,log_create_time,game_log_next_level,game_log_level,game_log_limit,game_log_record,game_log_score,game_log_success,assignment_unit_user,userId,birth,gender,education,height,name,organization,unit,id_create_time,unit_title,user_idx,age
game_log_idx,,,,,,,,,,,,,,,,,,,,
721,2021-05-11 10:31:00,4,4,300,"[{""correct"":1,""speed"":286.9}]",100.0,100.00,1045,A0001,19520219,M,16,172,소필영,로아신경과의원,2,2021-05-10 11:27:46,스도쿠,39,71.0
749,2021-05-12 15:10:00,3,3,180,"[{""correct"":1,""speed"":25.2},{""correct"":1,""spee...",2000.0,95.24,1046,A0001,19520219,M,16,172,소필영,로아신경과의원,9,2021-05-10 11:27:46,방금 전 카드 기억하기,39,71.0
768,2021-05-13 08:22:00,3,3,180,"[{""correct"":1,""speed"":5.8},{""correct"":1,""speed...",2300.0,95.83,1046,A0001,19520219,M,16,172,소필영,로아신경과의원,9,2021-05-10 11:27:46,방금 전 카드 기억하기,39,71.0
718,2021-05-11 10:15:00,3,3,180,"[{""correct"":1,""speed"":44.7},{""correct"":1,""spee...",400.0,100.00,1048,A0001,19520219,M,16,172,소필영,로아신경과의원,17,2021-05-10 11:27:46,뒤집어 계산하기,39,71.0
719,2021-05-11 10:19:00,3,3,180,"[{""correct"":0,""speed"":26.1},{""correct"":1,""spee...",1000.0,83.33,1048,A0001,19520219,M,16,172,소필영,로아신경과의원,17,2021-05-10 11:27:46,뒤집어 계산하기,39,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70007,2022-02-28 17:11:42,2,2,120,"[{""correct"":1,""speed"":13.3},{""correct"":1,""spee...",400.0,100.00,118189,ndb006,19451202,F,6,160,박정선,남양주백병원,15,2022-02-28 16:23:20,공합치기,1059,78.0
70008,2022-02-28 17:13:52,2,2,120,"[{""correct"":1,""speed"":98.5}]",100.0,100.00,118189,ndb006,19451202,F,6,160,박정선,남양주백병원,15,2022-02-28 16:23:20,공합치기,1059,78.0
70009,2022-02-28 17:18:53,2,2,120,"[{""correct"":1,""speed"":9.8},{""correct"":1,""speed...",1000.0,90.91,118190,ndb006,19451202,F,6,160,박정선,남양주백병원,18,2022-02-28 16:23:20,벌집 깨기,1059,78.0
70010,2022-02-28 17:23:42,2,2,120,"[{""correct"":1,""speed"":80.8}]",100.0,100.00,118191,ndb006,19451202,F,6,160,박정선,남양주백병원,19,2022-02-28 16:23:20,언제 도착 할까요,1059,78.0
70011,2022-02-28 17:25:48,2,2,120,"[{""correct"":1,""speed"":72.5},{""correct"":1,""spee...",200.0,100.00,118191,ndb006,19451202,F,6,160,박정선,남양주백병원,19,2022-02-28 16:23:20,언제 도착 할까요,1059,78.0

In [29]:
# for idx, val in tqdm(game_log.iterrows(), total=game_log.shape[0]):
#     game_log['game_log_record'][idx] = eval(val['game_log_record'])

In [91]:
game_log_times = []
n= []

for idx,val in tqdm(game_log.iterrows(), total=game_log.shape[0]):
    
#     if 'MEET' not in val['organization']:
#         game_log['organization'][idx] = np.nan
    
    times = []
    temp1 = eval(game_log['game_log_record'][idx])
    for j in range(len(temp1)):
        temp = temp1[j]["speed"] ## get values of survey_log_record's list
        times.append(temp)
        
    times = np.mean(times)
    game_log_times.append(times)

  0%|                                                                              | 1/65563 [00:00<6:09:21,  2.96it/s]C:\Users\sanghyun\Anaconda3\envs\sb-db\lib\site-packages\numpy\core\fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\sanghyun\Anaconda3\envs\sb-db\lib\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
100%|██████████████████████████████████████████████████████████████████████████| 65563/65563 [00:12<00:00, 5292.62it/s]

In [92]:
game_log['game_log_time'] = [x for x in game_log_times]
del game_log['game_log_record']

In [9]:
# game_log.query('if "MEET" not in organization: organization = np.nan')

In [33]:
game_log['age'] = game_log.eval('floor(2023 - floor(birth / 10**4))')

In [37]:
game_log['duration_date'] = (datetime.date.today() - pd.to_datetime(game_log['id_create_time']).dt.date).dt.days

In [38]:
game_log = game_log.dropna()
game_log = game_log[game_log['age']>65]

In [39]:
del game_log['game_log_next_level']
del game_log['game_log_limit']
del game_log['game_log_score']
del game_log['assignment_unit_user']
del game_log['birth']
del game_log['userId']

In [40]:
game_log.to_excel('game_log_MEET.xlsx')

In [41]:
game_log = pd.read_csv('game_log.csv', encoding='utf-8-sig', index_col='game_log_idx')

In [49]:
game_log

Empty DataFrame
Columns: [log_create_time, game_log_level, game_log_success, gender, education, height, name, organization, unit, id_create_time, unit_title, user_idx, game_log_time, age, duration_date]
Index: []

In [18]:
3/2

1.5